body {
    background-color: rgb(1, 143, 6);
    color: black;
}
section{
    border-radius: 100px;
    border: 5px solid black;
    width: 80%;
    padding: 50px;
    box-shadow: 5px 5px 5px white;
    max-width: 2100px;
    margin: 30px 30px;
}
section:hover{
    background-color:white;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(6, 113, 228);
    padding: 10px;
    border-radius: 20px;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    text-shadow: 5px 5px 5px black;
}
#introduction h2,#villes h2,#cuisine h2,#tableau h2,#contacts h2{
    font-size: 3rem;
    color: rgb(170, 3, 3);
    text-transform: uppercase;
    text-shadow: 6px 6px 6px black;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}
#introduction p,#villes p,#cuisine p,#tableau p,#contacts p{
    text-align: left;
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: bold;
}

#villes h4{
    color:rgb(3, 60, 145);
    font-size: 1.3rem;
}
th,td,tr{
    border: 2px solid rgb(11, 86, 197);
}
#tableau th{
    color: rgb(3, 60, 145);
    font-size: 2rem;
    background-color:white;
    text-shadow: 5px 5px 5px white;
    font-weight: bold;
}
#tableau tr:hover td {
    background-color: rgb(186, 38, 38);
}
#tableau tr:hover th {
    background-color: rgb(1, 143, 6);
}
#tableau td {
    text-align: center;
    text-shadow: 5px 5px 5px  white;
    font-weight: bold;
}
.vi{
    width: 31%;
    padding: 22px;
}
.pl{
    width: 32%;
    padding: 22px;
}
.ty{
    width: 29%;
    padding: 22px;
}
.popu{
    width: 30%;
    padding: 22px;
}
#tableau td{
    padding: 18px;
    background-color: white;
    font-size: 1.1rem;
    color: black;
}
.qr-code{
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 100px;
}
footer{
    text-align: center;
    color: black;
    background-color: rgb(1, 143, 6);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
    margin-left: 30px;
    margin-right: 30px;
}
footer:hover{
    background-color: white;
}
.btn{
    border-radius: 15px;
    width: 15%;
    font-size: 1rem;
    height: 45px;
    background-color: rgb(6, 113, 228);
    text-shadow: 2px 2px 2px white;
    font-weight: bold;
}
.btn:hover{
    background-color: white;
}
pre{
    text-shadow: 5px 5px 5px black;
    width: 95%;
    font-size: 1.1rem;
}
.mail{
    text-decoration: none;
    border: 2px solid black;
    background-color:rgb(101, 2, 200) ;
    color:black;
    border-radius: 12px;
    padding: 5px;
}
.mail:hover{
    background-color: white;
}